@import '../../../variables.scss';

.item {
    flex: 0 0 auto;
    position: relative;
    width: 50%;
    min-height: fit-content;
    min-width: fit-content;
    padding: 4em;

    h1 {
        margin: 0;
    }
}

// Phone
@media only screen and (max-width: 768px) {
    .item {
        border-style: none;
        border-width: unset;
        padding: 0em !important;
    }
}

// Content-fit
@media(max-width: 1472px){
    .item {
        width: 90%;
        // margin: auto;
    }    
  }