@import '../../variables.scss';

.maintenance {
    a {
        color: $color-primary;
        text-decoration: none;
        border-bottom: 1px dotted $color-secondary;
    
        &:hover,
        &:focus,
        &:active {
            color: $color-accent;
            border-color: $color-accent
        }
    }
}
