@import '../../variables.scss';

.maintenance {
    a {
        text-decoration: none;
        border-bottom: 1px dotted $color-text-accent;
    
        &:hover,
        &:focus,
        &:active {
            color: $color-accent;
            border-color: $color-accent
        }
    }
}

.maintenance .dark-mode {
    a {
        border-bottom: 1px dotted $dark-color-text-accent;
    }
}
