@import '../../variables.scss';

.container {
    position: relative;
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;    
    min-width: fit-content;
    padding: 4em;
    box-sizing: border-box;    
}

.container.fluid {
    max-width: 100%;
}