@import '../../variables.scss';

h2 {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}

h3, h4 {
    margin: 0px !important;
}

.sector {
    margin-top: 24px;
    margin-bottom: 24px;
}

.content {
    display: flex;
    flex-direction: row;
    width:100%;
    margin-top: 12px;
    margin-bottom: 12px;
}

.left {
    width: 50%;
}

.right {
    width: 50%;
}

.timeline {
    float: right;
}
