@import '../../variables.scss';

.sector {
    margin-top: 24px;
    margin-bottom: 24px;
}

.content {
    display: flex;
    flex-direction: row;
    width:100%;
    margin: 1em 0 1em 0;

    // margin-top: 12px;
    // margin-bottom: 12px;
}

.resume {
    overflow: hidden;

    h2 {
        margin-top: 8px !important;
        margin-bottom: 8px !important;
        text-decoration: underline;
    }
    
    h3, h4 {
        margin: 0px !important;
    }
}

.left {
    width: 50%;
}

.right {
    width: 50%;
    text-align: right;
}

.timeline {
    float: right;
}


// Phone
@media only screen and (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .left {
        width: 100%;
    }

    .right {
        width: 100%;
        text-align: left;
    }

    .timeline {
        float: none;
    }
}