@import '../../../variables.scss';

.sidebar {
    color: #fff;
    width: 0;
    height: 100%;
    display: none;
    z-index: 1000;
    position: fixed;
    flex-wrap: nowrap;
    align-items: stretch;
    flex-direction: column;
    background: $color-navigation;
    visibility: hidden;
}

.navbar {
    top: 0;
    color: #fff;
    width: inherit;
    z-index: 1000;
    display: flex;  
    position: fixed;
    flex-wrap: wrap;
    background: rgba(255, 255, 255, 0.5);
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    flex-direction: row;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

.navbar a,
.sidebar a {
    opacity: 0.5;
    border: none !important;
    transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
}

.navbar a {
    color: #fff;
}

.sidebar a {
    color: #fff;
}

.navbar a:hover,
.navbar a:focus,
.navbar a:active,
.navbar a.active {
    color: #000;
    opacity: 1;
}

.sidebar a:hover,
.sidebar a:focus,
.sidebar a:active,
.sidebar a.active {
    color: #fff;
    opacity: 1;
}

.nav {
    margin: auto;
    width: 100%;
}

.footer {
    position: fixed;
    bottom: 0;
    padding: 10px;
    width: inherit;
}

.footer-item {
    text-align: center;
    padding: 0 0.4rem;
    margin-top: 0.5rem;
}

.navbar .nav {
    text-align: center;
}

.nav-collapse {
    padding: 0 2rem;
    flex-basis: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.nav-toggle {
    margin: 1rem;
    border: 0;
    padding: 0;
    content: '';
    display: flex;
    position: relative;
    min-width: 1.2rem;
    min-height: 1.2rem;
    background: rgba(0, 0, 0, 0);
    align-items: center;
    justify-content: center;
}

.nav-toggle span,
.nav-toggle span:before,
.nav-toggle span:after {
    width: 100%;
    height: 2px;
    display: block;
    content: '';
    position: absolute;
    background-color: #000;
}

.nav-toggle span:before {
    top: -5px;
    transition: top 0.1s ease;
}

.nav-toggle span:after {
    top: 5px;
    transition: top 0.1s ease;
}

.nav-toggle.active span{
    transform: rotate(135deg);
    transition: transform 0.15s ease;
    transition-delay: 0.1s;
}

.nav-toggle.active span:before,
.nav-toggle.active span:after {
    top: 0;
    transform: rotate(90deg);
    transition: transform 0.15s ease;
    transition-delay: 0.1s;
}

.nav-item {
    display: block;
    position: relative;
    line-height: 1.5;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nav-icon b {
    opacity: 0;
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 25px;
    margin: auto;
    font-size: 14px;
}

.nav-icon:hover i {
    opacity: 0;
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
}

.nav-icon:hover b {
    opacity: 1;
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
}

@media(min-width: 769px) {
    .sidebar {
        width: $sidebar-width;
        display: flex;
        visibility: visible;
    }

    // .sidebar {
    //     padding: 0 2rem;
    //     font-size: 2rem;
    //     margin: 5rem 0 2rem !important;
    // }

    .navbar {
        display: none;
        visibility: hidden;
    }

    .footer {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media only screen and (max-height: 550px) {
    .footer {
      display: none;
      position:absolute;
    }
  }