// Measurements

// Sidebar Properties
$sidebar-width: 60px;
$sidebar-height: 100%;

// Container Properties
$container-width: calc(100% - #{$sidebar-width});
$container-height: 100%;


// Visual
$border-color: rgba(0, 0, 0, 0.15);

// Colors
$color-primary: #fff;
$color-inverse: #000;
$color-secondary: rgba(255, 255, 255, 0.7);
$color-accent: #26abff;


$overlay-color: #000;
$breakpoint: 769px;