@import '../../../variables.scss';

.container {
    margin: auto;
    padding: 2.5em;        
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    align-items: center;
    justify-content: center;    
}

.viewer:hover {
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);

    -webkit-transition: transform 0.25s ease-in-out;
    -moz-transition:transform 0.25s ease-in-out;
    -ms-transition:transform 0.25s ease-in-out;
}

.react-pdf__Page__canvas {
    margin: auto;
}