@import '../../variables.scss';

.container {
    margin: auto;
}

.viewer:hover {
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);

    -webkit-transition: transform 0.25s ease-in-out;
    -moz-transition:transform 0.25s ease-in-out;
    -ms-transition:transform 0.25s ease-in-out;
}

// .react-pdf__Page__canvas {
//     margin: auto;
//     width: 100%;
//     height: auto;
// }


/*
    TODO: Fix scss
*/

// Phone
@media only screen and (max-width: 768px) {
    .container {
        padding: 1em;
    }

    .item {
        padding: 0;
    }

    .viewer-page > * {
        width: 100% !important;
        height: auto !important;         
    }

    .viewer-page {
        div {
            display: none !important;
        }
    }
}