@import '../../variables.scss';

.container {
    margin: auto;
}

.viewer:hover {
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);

    -webkit-transition: transform 0.25s ease-in-out;
    -moz-transition:transform 0.25s ease-in-out;
    -ms-transition:transform 0.25s ease-in-out;
}


/*
    TODO: Fix scss
*/
.react-pdf__Page__canvas {
    margin: auto;
}